body{
	margin: 0;
	text-align: center;
}




/************************************************************Classes***********************************************************************/
.top{
	background-color: #A2D5F2;
}












/************************************************************id***********************************************************************/
#cloud1{
	width: 15%;
	margin-left: 40%;
}

#cloud2{
	width: 15%;
	margin-right: 70%;
}

#cloud3{
	width: 15%;
	margin-left: 70%;
}